.eventMenu
    .mainTower
        .flex.center
            .logOut.flex.center(onclick="document.location.href='/logout'")
                div !{user.i} !{user.f}&emsp;
                include ../svg/logout.svg
            .eventHead  Cтраница вашего мероприятия:&emsp;
                a(href=host+"/c/u/"+event.short target="_blank") #{host}/c/u/#{event.short}
        .eventMenuWr
            include eventMenuItems
