extends ../layout
block head
block body


    include eventMenu
    script.
            document.querySelector(".eventMenuItem[menuid='1']").classList.add("active")
    .mainTower#app

        .eventBody.mt
            .linksWr.mb2
                .linkItem.mt.mb3
                    .linkTitle.mb Для пользователей
                    .linkDescription.mb Эту ссылку можно отправить всем пользователям. Qr code можно использовать для быстрого доступа с мобильных устройств.
                    .linkGroup
                        .linkText
                            a(href=host+"/c/u/"+event.short target="_blank") #{host}/c/u/#{event.short}
                        .linkCopy.btn(v-on:click="copyText('"+host+"/c/u/"+event.short+"', $event)") Копировать
                        .linkCopy.btn.linkQr(v-on:click="downloadQr('"+host+"/c/u/"+event.short+"', $event)") Скачать QR code
                .linkItem.mt.mb3
                    .linkTitle.mb Для спикера
                    .linkDescription.mb Эту ссылку можно открыть на планшете спикера для чтения вопросов и результатов голосований
                    .linkGroup
                        .linkText
                            a(href=host+"/c/spk/"+event.short target="_blank") #{host}/c/spk/#{event.short}
                        .linkCopy.btn(v-on:click="copyText('#{host}/c/spk/#{event.short}', $event)") Копировать
                .linkItem.mt.mb3
                    .linkTitle.mb Для помощника
                    .linkDescription.mb Эту ссылку можно открыть на планшете помощника для модерации вопросов
                    .linkGroup
                        .linkText
                            a(href=host+"/c/hlp/"+event.short target="_blank") #{host}/c/hlp/#{event.short}
                        .linkCopy.btn(v-on:click="copyText('#{host}/c/spk/#{event.short}', $event)")  Копировать
                .linkItem.mt.mb3
                    .linkTitle.mb Для экранов
                    .linkDescription.mb Эту ссылку можно показать на экране в полноэкренном режиме для вывода голосований
                    .linkGroup
                        .linkText
                            a(href=host+"/c/scr/"+event.short target="_blank") #{host}/c/scr/#{event.short}
                        .linkCopy.btn(v-on:click="copyText('#{host}/c/scr/#{event.short}', $event)")  Копировать
                .linkItem.mt.mb3
                    .linkTitle.mb Статистика
                    .linkDescription.mb Здесь можно загрузить файл Excel со всеми заданными вопросами и проведенными голосованиями
                    .linkGroup
                        .linkText #{host}/s/#{event.short}
                        .linkCopy.btn Скачать
    include eventFooter
    script let event=!{JSON.stringify(event)}
    script(src="/scripts/eventScript.js")
    script(src="/scripts/vue.min.js")
    script(src="/scripts/eventQScript.js")
